@use 'styles/variables' as *;

.transfer-form-container {
  max-width: $form-max-width-md;
  margin: 0 auto;
}

.transfer-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}


