@use 'styles/variables' as *;

.contract-list-container {
  width: 100%;
}

.contract-table {
  width: 100%;
}

.contract-link {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}


